@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kssufl');
  src:  url('fonts/icomoon.eot?kssufl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kssufl') format('truetype'),
    url('fonts/icomoon.woff?kssufl') format('woff'),
    url('fonts/icomoon.svg?kssufl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-putOnShelve:before {
  content: "\e913";
}
.icon-time:before {
  content: "\e900";
}
.icon-returnShelf:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-setting:before {
  content: "\e903";
}
.icon-shelfAdjust:before {
  content: "\e904";
}
.icon-ShelfConfiguration:before {
  content: "\e905";
}
.icon-ShelfList:before {
  content: "\e906";
}
.icon-ShelfTypeList:before {
  content: "\e907";
}
.icon-storageAdjust:before {
  content: "\e908";
}
.icon-itemStorageAdjust:before {
  content: "\e909";
}
.icon-switchFace:before {
  content: "\e90a";
}
.icon-user:before {
  content: "\e90b";
}
.icon-wcsTaskCount:before {
  content: "\e90c";
}
.icon-offline:before {
  content: "\e90d";
}
.icon-online:before {
  content: "\e90e";
}
.icon-outbound:before {
  content: "\e90f";
}
.icon-partsMaterial:before {
  content: "\e910";
}
.icon-partsMaterialIn:before {
  content: "\e911";
}
.icon-partsMaterialOut:before {
  content: "\e912";
}
.icon-quality:before {
  content: "\e914";
}
.icon-InventoryCheck:before {
  content: "\e915";
}
.icon-InventoryDiscrepancyList:before {
  content: "\e916";
}
.icon-InventoryTimeNtO:before {
  content: "\e917";
}
.icon-InventoryTimeOtN:before {
  content: "\e918";
}
.icon-locationSwap:before {
  content: "\e919";
}
.icon-modify:before {
  content: "\e91a";
}
.icon-noOnline:before {
  content: "\e91b";
}
.icon-honest:before {
  content: "\e91c";
}
.icon-inbound:before {
  content: "\e91d";
}
.icon-info:before {
  content: "\e91e";
}
.icon-edit:before {
  content: "\e91f";
}
.icon-flaw:before {
  content: "\e920";
}
.icon-FluctuationInventoryCheck:before {
  content: "\e921";
}
.icon-FullAreaInventoryCheck:before {
  content: "\e922";
}
.icon-goback:before {
  content: "\e923";
}
.icon-abnormal:before {
  content: "\e924";
}
.icon-add:before {
  content: "\e925";
}
.icon-check:before {
  content: "\e926";
}
.icon-close:before {
  content: "\e927";
}
.icon-createPartsMaterial:before {
  content: "\e928";
}
.icon-CreateShelfType:before {
  content: "\e929";
}
.icon-creativity:before {
  content: "\e92a";
}
.icon-delete:before {
  content: "\e92b";
}
.icon-download:before {
  content: "\e92c";
}
